@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-background: #f5f5f5;
    --primary-50: #efe9f8;
    --primary-100: #ccbae8;
    --primary-200: #b499dd;
    --primary-300: #916ace;
    --primary-400: #7c4dc5;
    --primary-500: #5b21b6;
    --primary-600: #531ea6;
    --primary-700: #411781;
    --grey: #aaaaaaaa;
    /* the logo width sets the height of the navbar */
    --min-logo-width: 3.5rem;
    --max-logo-width: 4.5rem;
    --main-content-padding: 1rem;
}

body {
    background-color: var(--body-background);
    min-height: 100vh;
}

#root {
    width: 100%;
}

.auth-container {
    width: 100%;
}

.login-form {
    max-height: 285px;
}

/* sign up form has an extra field, therefore more height needed */
.signup-form {
    max-height: 350px;
}

.auth-form {
    box-sizing: border-box;
    max-width: 400px;
    border: 1px solid var(--grey);
    border-radius: 0.2rem;
    /* max height for transition purposes */

    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    transition: max-height 1s ease-out 0s;
    overflow: hidden;
}

.auth-form.expanded {
    max-height: 500px;
}

.auth-form > input {
    display: block;
    width: 100%;
}

.primary-button {
    background-color: var(--primary-500);
    border-radius: 0.8rem;
    width: 100%;
}

.primary-input {
    @apply mb-2 rounded-md border shadow-sm;
    padding: 0.5rem 1rem;
    width: 100%;
}

.primary-input:focus {
    outline: var(--primary-500) solid 1px;
}

.error-line {
    @apply text-red-500 text-sm mb-1;
}

.loading-spinner {
    @apply w-6 h-6 border-2 border-current border-t-transparent rounded-full animate-spin;
    margin: 0 auto;
}

.modal-backdrop {
    /* makes the modal-backdrop not clickable */
    pointer-events: none;
    position: absolute;
    background-color: #22222222;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(1.5px);
    opacity: 0;
    transition: opacity 0.3s;
}

.modal-backdrop.show {
    /* visible again */
    opacity: 1;
    /* clickable again */
    pointer-events: auto;
}

.modal {
    /* does not allow clicks on the div */
    pointer-events: none;
    position: absolute;
    background-color: #fafafa;
    font-family: "Poppins", sans-serif;
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    width: clamp(400px, 46vw, 600px);
    /* height: clamp(400px, 69vh, 600px); */
    max-height: 600px;
    min-height: 400px;
    opacity: 0;
    transform: translate(-50%, calc(-50% - 50px)) scale(0.5);
    /* makes the scale from the center  */
    transform-origin: center;
    transition:
        opacity 0.3s,
        transform 0.3s;
    overflow-y: auto;
}

.modal.show {
    opacity: 1;
    /* keeps the same translate properties and then sets the scale to 1 */
    transform: translate(-50%, calc(-50% - 50px)) scale(1);
    /* allows the div to be clicked */
    pointer-events: auto;
}

/* MEDIA QUERIES */

/* For Mobile Devices */
@media (max-width: 767px) {
    .auth-form {
        width: 90%;
        min-width: 320px;
    }
}

/* NAVBAR */

.navbar {
    padding: 0rem clamp(2rem, 4vw, 4rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
}

.logo-img {
    width: clamp(var(--min-logo-width), 4.5vw, var(--max-logo-width));
}

.rememberit {
    font-size: clamp(1.75rem, 2.25vw, 2.25rem);
    line-height: (2rem, 2.5vw, 2.5rem);
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 0.5rem;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    line-height: clamp(1.75rem, 2vw, 2rem);
    height: 100%;
}

.menu-item,
.salute {
    color: #a0a0a0;
    padding: 0.5rem 0.7rem;
    display: flex;
    gap: 5px;
}

.salute-name {
    color: var(--primary-500);
}

.menu-item:hover {
    color: var(--primary-500);
    background-color: var(--primary-50);
    border-radius: 5px;
}

.menu-icon {
    width: clamp(1.25rem, 1.5vw, 1.5rem);
    height: auto;
}

.menu-item:hover > .menu-icon {
    fill: var(--primary-500);
}

.burger-menu {
    display: none;
    width: 1.5rem;
}

.close-icon {
    display: none;
    box-sizing: content-box;
    border-radius: 50%;
}

.close-icon:hover {
    background-color: #acacac11;
}

/* styles for mobiles */
@media (max-width: 768px) {
    .menu {
        position: absolute;
        display: block;
        width: 0px;
        top: 0;
        right: 0;
        opacity: 0;
        background-color: #f6f6f6;
        height: 100vh;
        border-left: 1px solid #f0f0f0;
        /* might have to change this later, shadow can interfere with the elements behind */
        box-shadow: -5px 0 5px 5px #f6f6f6;
        transition:
            width 0.3s ease-out,
            opacity 0.2s ease-in;
    }

    .close-icon {
        display: block;
        padding: 1rem;
        width: 2rem;
    }

    .menu.expanded {
        padding: 0.5rem 1rem;
        width: 80%;
        opacity: 1;
    }

    .menu-item,
    .salute {
        padding: 0.5rem 1rem;
        font-size: 1.8rem;
        /* white-space property to avoid items to wrap when container's width is narrow */
        white-space: nowrap;
    }

    .menu-icon {
        display: none;
    }

    .burger-menu {
        display: inline;
    }
}

/* styles for tablets */
@media (min-width: 769px) and (max-width: 992px) {
}

@layer base {
    .main-content {
        /* separates the navbar from the main content */
        padding: var(--main-content-padding);
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
    }

    .lists-container {
        display: flex;
        flex-direction: column;
        min-height: 500px;
        /* max-height = viewport heigt - paddding applied to main content - clamp that calculates the height of the logo image - distance to separate the container from the bottom */
        max-height: calc(
            100vh - var(--main-content-padding) -
                clamp(var(--min-logo-width), 4.5vw, var(--max-logo-width)) -
                1rem
        );
        height: 100vh;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        border: 1px var(--primary-50) solid;
        background-color: #fff;
    }

    /* tittle fo the container */

    .lists-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .lists-title {
        font-weight: 500;
        font-size: clamp(1.25rem, 2vw, 1.5rem);
        line-height: clamp(1.75rem, 2vw, 2rem);
    }

    .new-list-button {
        background-color: var(--primary-400);
        color: #ffffff;
        border-radius: 0.6rem;
        padding: 0.5rem 1rem;
    }

    .new-list-button:hover {
        background-color: var(--primary-500);
    }

    .new-list-button:active {
        background-color: var(--primary-600);
        /* 2px to add the illusion of getting bigger when clicked */
        outline: 2px var(--primary-600) solid;
    }

    /* LISTS SEARCH BAR */
    .list-search-bar {
        border: 1px var(--primary-50) solid;
        background-color: #fafafa;
        width: 100%;
        border-radius: 0.6rem;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
        margin-bottom: 1rem;
    }

    .list-search-bar:focus {
        outline: 1px var(--primary-300) solid;
    }

    .create-list {
        padding: 0.5rem 1.5rem;
        border-radius: 3rem;
        width: 100%;
    }

    .create-list:focus {
        outline: 2px solid var(--primary-300);
    }

    .lists-items {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        scrollbar-gutter: stable;
        overflow-x: hidden;
        gap: 0.5rem;
    }

    .lists-items::-webkit-scrollbar {
        width: 0.5rem;
    }

    .lists-items::-webkit-scrollbar-thumb {
        background-color: var(--primary-200);
        border-radius: 0.5rem;
    }

    .lists-items::-webkit-scrollbar-track {
        background-color: var(--primary-50);
        border-radius: 0.5rem;
    }

    .lists-item {
        padding: 0.5rem 1.5rem;
        border-radius: 3rem;
    }

    .loading-list-item {
        padding: 0.5rem 1.5rem;
        border-radius: 3rem;
        height: 2.5rem;
        background-color: var(--primary-50);
    }

    .lists-item:hover {
        background-color: var(--primary-50);
    }

    .lists-item.active {
        background-color: var(--primary-300);
        color: #fafafa;
    }

    .decks-container {
        border: 1px solid var(--grey);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        grid-auto-rows: 185px;
    }
    a > .deck-card {
        /* make all deck cards have the same height */
        height: 100%;
    }
}

@layer components {
    .deck-card {
        @apply rounded-md;
        @apply bg-violet-700;
        @apply px-4;
        @apply py-4 text-gray-100;
        @apply shadow-md;
        transition: scale 0.05s ease-in;
    }

    .deck-card:hover {
        scale: 1.03;
    }

    .no-list {
        padding-top: clamp(1rem, 7.5vh, 4.5rem);
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .no-list > h2 {
        @apply text-2xl font-bold text-gray-700 mb-4 text-center;
    }

    .no-list > img {
        width: 500px;
        opacity: 0.75;
    }

    .deck-card:hover .star {
        opacity: 1;
    }

    .star:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    /* LOADING DECK CARD */
    .loading-deck-card {
        @apply rounded-md;
        @apply bg-violet-700;
        @apply px-4;
        @apply py-4;
        @apply shadow-md;
        animation: loading 1.5s ease 0s infinite;
    }

    @keyframes loading {
        0% {
            background-color: #6d28d9; /* violet-700 */
        }
        50% {
            background-color: #8b5cf6; /* lighter violet (violet-500) */
        }
        100% {
            background-color: #6d28d9; /* back to original */
        }
    }
}
